.container {
  background-color: #3b2e1e;
  border: 30px solid transparent;
  border-image: url("borders.png") 30 round;
  border-radius: 18px;
  padding: 40px 50px;
  width: 90%;
  max-width: 800px;
  text-align: center;
  color: #fdf7ec;
  font-family: "Press Start 2P", monospace;
  margin: 80px auto;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  line-height: 1.8;
  line-height: 40px;
}

h1 {
  font-size: 32px;
  margin-bottom: 40px;
  color: #ffd700;
  letter-spacing: 1px;
}

p {
  margin-bottom: 25px;
  font-size: 14px;
  color: #f4eee0;
}

button {
  background-color: #865c42;
  color: #fff;
  border: none;
  padding: 12px 20px;
  margin: 15px;
  font-size: 12px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 2px 4px #3b2e1e;
  transition: transform 0.2s ease, background-color 0.3s ease;
  font-family: "Press Start 2P", monospace;
}

button:hover {
  transform: scale(1.05);
  background-color: #a1724b;
}

.container {
  background-color: rgba(51, 34, 17, 0.85);
  border: 30px solid transparent;
  border-image: url("patterns.jpg") 30 round;
  border-radius: 10px;
  padding: 30px;
  width: 90%;
  max-width: 750px;
  text-align: center;
  color: #fdf7ec;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  font-family: "Press Start 2P", monospace;
}
body {
  background-color: #4f834f;
}
.button-section {
  margin: 20px 0;
}

.btn-desc {
  font-size: 10px;
  color: #e8dac4;
  margin-top: 6px;
  font-family: "Press Start 2P", monospace;
}
